body {
  color: white;
  textalign: center;
  background: green;
  font family: "Times New Roman";
}
#slots img {
 width: 150 pxl;
 margin: 10 pxl;
}

button {
  padding: 10px 10px;
  font-size: 20px;
  cursor: pointer;
}
